*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 2000px;
}
html{
    font-family: 'Josefin Sans', sans-serif;


}
.navbar{
    width: 100%;
    height: 150px;
    box-shadow: 0px 10px 15px gray;
    background-color: #ffffff;
    
}
.lks img{
    position: relative;
    width: 335px;
    margin-left: -65px;
    margin-top: -56px;
    height: 246px;
}
.lks ul li{
    display: inline;
    padding: 35px;
}
.lks ul{
    position: relative;
    top: -79px;
    font-size: x-large;
    left: 339px;
    width: 800px;
}
.lks ul li a{
    text-decoration: none;
    color: #18339b;
}
.lks ul li :hover{
    font-size: 25px;
    color: black;

}
.prof img{
    width: 50px;
    height: 50px;
    top: -159px;
    position: relative;
    left: 1288px;
}
.box{
    position: relative;
    background-color: #eee;
    top: -182px;
    left: 577px;
    width: 279px;
    height: 33px;
    border-radius:50px;
    align-items: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 0px 25px ;

}
.box input{
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;

}
.fa-solid:hover{
    color: orangered;
    cursor: pointer;
}
.shop img{
    position: relative;
    width: 41px;
    height: 40px;
    top: -208px;
    left: 1378px;
}
.un-navbar{
    height: 100px;
    width: 100%;
    background-color: #18339b40;
    color: #18339b;
    position: relative;
    top: 13px;
}
.un-navbar h2{
    position: relative;
    top: 32px;
    left: 20px;
    width: 400px;
}
.un-navbar h4{
    position: relative;
    top: 35px;
    left: 136px;
    width: 181px;
}
.un-navbar h3{
    position: relative;
    left: 438px;
    top: 6px;
    width: 795px;
}
.shop-now{
    position: relative;
    left: 1324px;
    top: -22px;
    width: 108px;
    background-color: #18339b;
    height: 30px;
    text-align: center;
}
.shop-now a{
    position: relative;
    text-decoration: none;
    text-align: center;
    color: white;
    top: 10px;
}
* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: none;
}
.slideshow-container{
    top: 79px;
    position: relative;
    left: -1px;
}
.ved video{
    width: 752px;
    height: 460px;
    left: 57px;
    position: relative;
    top: 72px;
}
.kid img{
    position: relative;
    width: 664px;
    height: 390px;
    left: 840px;
    top: -346px;
}
.wom img{
    position: relative;
    width: 664px;
    height: 390px;
    top: -245px;
    left: 80px;
}
.men img{
    position: relative;
    width: 664px;
    height: 390px;
    top: -639px;
    left: 779px;
}
